:root {
    /*===== Colors =====*/
    --primary-color: #1E72FF;
    --input-color: #80868B;
    --border-color: #80868B;
    --bacground-color: #FFF;
    /*===== Fuente y tipografia =====*/
    --body-font: 'Roboto', sans-serif;
    --normal-font-size: 1rem;
    --small-font-size: .75rem;
}

@font-face {
    font-family: 'Product Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans'), url('ProductSans-Regular.woff') format('woff');
}

body {
    margin: 0;
    font-family: 'Product Sans';
}
.header-section {
    display: none;
}

.header-section-fixed {
    padding: 20px 30px;
    background-color: var(--primary-color);
}

.header-notes-fixed {
    margin: 0;
    color: var(--bacground-color);
}

.search-section {
    text-align: center;
    padding: 10px 20px;
    
}

.search-input {
    display: inline;
    border: none;
    padding: 0;
    width: 50%;
    font-family: 'Product Sans';
    font-size: 1.5rem;

    border-radius: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: 20px 15px;
    padding: 8px 15px;
}

.search-input:focus {
    outline: none;
}

.pinned-notes {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 2.5%;
}

.other-notes {
    display: inline-block;
    vertical-align: top;
    width: 30%
}

.notes-header-notes {
    display: block;
    margin: 0 10px;
    font-family: 'Product Sans';
    font-weight: bold;
    font-size: 1.3rem;
}

.note-holder-notes {
    display: flex;
    flex-wrap: wrap;
}

.note-holder-notes>div {
    flex: 50%;
    margin-bottom: 10px;
}
.card-display-note{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: 10px;
    border-radius: 15px;
}

.fab-save-pin-wrapper {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.fab-notes {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    width: 30px;
    height: 30px;
    border-radius: 20%;
    background: #FFF;
    border: none;
    outline: none;
    color: var(--primary-color);
    font-size: 10vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    z-index: 2;
    transition: transform 0.2s ease;
}

.fab-notes.close {
    position: relative;
    display: none;
    align-items: center;
    float: left;
    justify-content: center;
    box-sizing: border-box;
    font-size: 8vw;
    right: 0%;
    bottom: 0%;
    background-color: #ececec;
    color: #5f5e5e;
    margin-right: auto;
}

.fab-notes.save {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    right: 0%;
    bottom: 0%;
    font-size: 8vw;
    margin-right: 10px;
    right: 0%;
    bottom: 0%;
    background-color: #ececec;
    color: #5f5e5e;
}

.fab-notes.pin {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 8vw;
    right: 0%;
    bottom: 0%;
    background-color: #ececec;
    color: #5f5e5e;
}

.note-title-notes {
    font-family: 'Product Sans';
    overflow-wrap: anywhere;
    max-width: 100%;
    padding: 0 15px;
    font-weight: 600;
}       

.note-body-notes {
    font-family: 'Product Sans';
    overflow-wrap: anywhere;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; /* number of lines to show */
    -webkit-box-orient: vertical;
    padding: 0 15px;
}

.card-containter-notes{
    display: inline-block;
    width: 34%;
}

.card-notes{
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--bacground-color);
    border-radius: 20px;
    z-index: 10;
    padding-bottom: 20px;
}

.title-input-notes {
    display: block;

    font-size: 1.3rem;
    font-family: 'Product Sans';
    padding: 10px 15px;
    margin: 0;
    border: 0;
}
.title-input-notes:focus {
    outline: none;
}

.note-textarea-notes {
    display: block;
    text-align: left;
    min-height: 50vh;
    max-height: 50vh;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 'Product Sans';
    padding: 0 20px 15px 15px;
    border: 0;
}

.note-textarea-notes:focus {
    outline: none;
    border: none;
}

.note-textarea-placeholder-notes {
    position: absolute;
    color: #757575;
    padding: 0 15px;
    font-family: "Product Sans";
}

.note-textarea-placeholder-notes.hide {
    visibility: hidden;
}

#confirmation-dialog-notes {
    box-sizing: border-box;
    position: fixed;
    display: none;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.16);
    padding: 0 15px;
    opacity: 0;
    backdrop-filter: blur(3px);
    transition: visibility 0s, opacity 0.5s linear;
    z-index: 2;
}

#confirmation-dialog-notes.show {
    opacity: 1;
}

#confirmation-dialog {
    position: relative;
    top: 50%;
    transform: translateY(100vh);
    text-align: right;
    transition: transform 0.5s ease;
    text-align: center;
}

#confirmation-dialog.show {
    transform: translateY(-50%);
}

#confirmation-dialog>div{
    display: inline-block;
    padding-bottom: 0;
    text-align: right;
    width: 50vw;
    max-width: 500px;
}

.confirmation-dialog-header {
    margin: 0;
    padding: 20px 20px 0;
    font-family: 'Product Sans';
    text-align: left;
}

.confirmation-dialog-body {
    margin: 0;

    padding: 20px;
    font-family: 'Product Sans';
    text-align: left;
}
.confirmation-dialog-button-yes {
    background: none;
    outline: none;
    border: none;
    padding-bottom: 20px;
    margin-right: 20px;
    font-size: 1rem;
    font-family: 'Product Sans';
    text-align: center;
}
.confirmation-dialog-button-no {
    background: none;
    outline: none;
    border: none;
    padding-right: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
    font-family: 'Product Sans';
    text-align: center;
}

.fab-logout, .fab-select, .fab-add {
    display: none;
}

.fab-notes {
    display: none;
}






/*********SNACK BAR******************/

/* The snackbar - position it at the bottom and in the middle of the screen */

#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    /* min-width: 250px; Set a default minimum width */
    background-color: rgb(255, 255, 255);
    /* Black background color */
    color: rgb(0, 0, 0);
    /* White text color */
    text-align: center;
    /* Centered text */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
    transform: translateX(-50%);
    font-family: "Product Sans";
    border-radius: 100px;
    /* Rounded borders */
    white-space: nowrap;
    z-index: 4;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */

#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}